@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>О проекте</h1>

<p>Создан как демонстрационный проект. Представляет собой веб-приложение для организации по ремонту и обслуживанию техники своими силами. </p>
<p>
    Основные функции:
</p>
<p>
    <ul>
        <li>
            Учет иженеров компании.
            <ul>
                <li>
                    список инженеров с возможностью редактирования
                </li>
                <li>
                    статистика по количеству проведенных работ
                </li>
            </ul>
        </li>
    </ul>
</p>
<h4>
    Технологии
</h4>
<ul>
    <li>
        ASP.Net Core MVC
    </li>
    <li>
        Entity Framework Core
    </li>
    <li>

    </li>
</ul>
