
<h1>О проекте</h1>

<p>Создан как демонстрационный проект. Представляет собой веб-приложение для организации по ремонту и обслуживанию техники своими силами. </p>
<p>
    Основные функции:
</p>
<p>
    <ul>
        <li>
            Учет иженеров компании.
            <ul>
                <li>
                    информация о сотрудниках организации (обслуживающий персонал - инженера)
                </li>
                <li>
                    добавление/просмотр/редактирование данных о инженерах
                </li>
                <li>
                    информации о всех проведенных планах тех.обслуживания инженером
                </li>
                <li>
                    сортировка по имени инженера
                </li>
                <li>
                    сортировка по кол-ву проведенных планах обслуживания сотрудником
                </li>
            </ul>

        </li>
        <li>
            Учет оборудования.
            <ul>
                <li>
                    просмотр списка данных о всем оборудовании организации
                </li>
                <li>
                    фильтрация по типу оборудования
                </li>
                <li>
                    поиск по серийному номеру оборудования
                </li>
                <li>
                    просмотр данных о оборудовании со списком проведенных ремонтов
                </li>
            </ul>
        </li>
    </ul>
</p>
<h4>
    Технологии
</h4>
<ul>
    <li>
        C#
    </li>
    <li>
        ASP.Net Core MVC
    </li>
    <li>
        pattern MVC
    </li>
    <li>
        Entity Framework Core
    </li>
    <li>
        LINQ
    </li>
</ul>
