@{
    ViewData["Title"] = "Home Page";
}

<div class="text-justify, text-muted">
    <h1 class="display-4 text-center">Сервисный центр</h1>
    <p>
        Организация, занимающаяся оказанием услуг по сервисной поддержке и обслуживанию техники, оборудования и другой продукции. Деятельность сервисных центров включает предторговый, гарантийный и послепродажный ремонт.
    </p>
    <p>
        При покупке товара устанавливается срок гарантии на изделие и срок его службы. В течение гарантийного срока покупатель имеет право на бесплатный ремонт товара или (в особых случаях — см. ниже) на его замену. По истечении срока гарантии, ремонт техники осуществляется за деньги потребителя. По истечении срока службы товара, компания-изготовитель в праве отказать потребителю в ремонте данного товара.
</p>
    <p>
        Деятельность сервисных центров регламентируется на законодательном уровне, согласно законам той страны, на территории которой предоставляется сервисное обслуживание. Согласно Закону о правах потребителя РФ, информация о товаре в обязательном порядке должна содержать гарантийный срок изделия, если он установлен.
    </p>
</div>
